/* .customBtn{
    height: 32px;
    width: 95px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #003B95;
    border-radius: 4px;
}

.customBtn:hover{
    box-shadow: 0 0 5px var(--border-color, #003B95);
} */
