.p-datatable {
    height: 100%;
}
.p-datatable .p-datatable-wrapper {
    height: 100%;
    max-height: 400px !important;
    border: 1px solid rgba(0, 0, 0,0.12);
    border-radius: 6px;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead tr {
    border: none;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th,
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody td {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.7);
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th {
    background-color: rgba(0, 60, 149, 0.85) !important;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th div span {
    font-size: 14px;
    /* font-weight: 500 !important; */
    color: rgba(255, 255, 255, 1);
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th.text-center div span {
    text-align: center;
    width: 100%;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody td {
    /* max-width: 400px; */
    word-break: break-all;
    white-space: normal;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody tr:hover td {
    background-color: rgba(82, 82, 82, 0.12);
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th span {
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th,
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody td {
    min-width: 20px;
    width: 200px;
    max-width: 200px;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th.number-cell,
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody td.number-cell {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th.action-cell,
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody td.action-cell {
    min-width: 60px;
    width: 60px;
    max-width: 60px;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th.save-cell,
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody td.save-cell {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
}
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th.checkbox-cell,
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody td.checkbox-cell {
    min-width: 120px;
    width: 120px;
    max-width: 120px;
}


.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody tr:not(:last-child) td,
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
/* .p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-thead tr th:not(:last-child),
.p-datatable .p-datatable-wrapper .p-datatable-table .p-datatable-tbody tr td:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
} */

.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded {
    height: 2rem;
    width: 2rem;
}
.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded
.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded:hover,
.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded:active,
.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded:focus {
    outline: none;
    box-shadow: none;
}
.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded
.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded:hover,
.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.p-datatable .action-menu.p-button.p-button-icon-only.p-button-rounded .p-button-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.p-menu.p-menu-overlay {
    padding: 4px;
}
.p-menu.p-menu-overlay .p-menu-list .p-menuitem {
    border-radius: 4px;
    overflow: hidden;
}
.p-menu.p-menu-overlay .p-menu-list .p-menuitem .p-menuitem-link {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
}
.p-menu .p-menuitem-link:not(.p-disabled):hover {
    background-color: rgba(191, 217, 255, 0.25);
}
.p-menu.p-menu-overlay .p-menu-list .p-menuitem + .p-menuitem {
    margin-top: 2px;
}