.form-card {
  margin: 12px 0;
}
.form-card .p-card-body {
  width: 100%;
}
.form-card .p-card-body .p-card-content {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.plan-tab-container {
  margin: 24px 0;
  position: relative;
}

.plan-tab-container .top-button {
  position: absolute;
  top: 12px;
  right: 24px;
}

@media all and (max-width: 1024px) {
  .form-card .p-card-body .p-card-content .form-field {
    width: 50%;
  }
  .form-card .p-card-body .p-card-content .form-field-action {
    padding-top: 12px;
    width: 100%;
  }
  .risk-card {
    width: 100%;
  }
}
