.quotes-form-container label {
    text-transform: capitalize;
}
.form-display-field {
    height: 36px;
    width: 100%;
    border: 1.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 4px 8px;
}
.quotes-add-overlay {
    width: 100%;
    max-width: 600px;
}
.header-card {
    height: calc(100vh - 260px);
    overflow: auto;
}

.create-overlay {
    width: 100%;
    max-width: 350px;
}

.party-container {
    margin-inline-start: 24px;
    width: 100%;
    max-width: 300px;
}
.party-container .p-card-body {
    padding: 0 0 20px;
}
.party-container .p-card-body .party-header {
    padding: 20px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
}
.party-container .p-card-body .party-details {
    padding: 12px 20px;
    border-bottom: 1px solid rgba(0,0, 0, 0.12);
}

.header-text {
    font-size: 24px;
    line-height: normal;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}
.p-fileupload .p-fileupload-content {
    padding: 0;
    border: none;
}
.p-fileupload-row .image-display {
    width: fit-content;
    display: flex;
    align-items: center;
    flex: none;
    padding: 4px !important;
}
.p-fileupload-row .image-display span {
    font-weight: 500;
    cursor: pointer;
}
.p-fileupload-row .image-display span:hover {
    color: #4338CA;
}

.risk-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.risk-assesment-section {
    margin: 40px 0;
    /* height: calc(100vh - 400px); */
    overflow: auto;
}

.p-fileupload {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
}
.p-fileupload .small-btn {
    width: 25%;
}
.p-fileupload .p-fileupload-content {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 24px;
}
.p-fileupload .p-fileupload-content .p-progressbar {
    display: none !important;
}
.upload-docs {
    margin: 20px 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.container-sub-menu .sub-menu {
    padding-left: 24px;
}
.container-sub-menu .field-individual-container {
    position: relative;
    padding-bottom: 2rem;
}
.container-sub-menu .field-individual-container::before {
    content: "";
    position: absolute;
    top: 14px;
    width: 3px;
    background-color: rgb(67, 56, 202);
    height: calc(100% - 12px);
}
.container-sub-menu .field-individual-container p {
    padding-left: 1.5rem;
    position: relative;
}
.container-sub-menu .field-individual-container p::before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -5px;
    z-index: 1;
    background-color: rgb(67, 56, 202);
}
.container-sub-menu .form-container {
    padding-left: 16px;
    /* height: 0; */
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all liner 0.3s;
}
.container-sub-menu .form-container.active-field {
    /* height: 200px; */
    opacity: 1;
    visibility: visible;
    overflow: auto;
}
.sub-menu .field-individual-container {
    margin-top: -12px;
    position: relative;
}
.sub-menu .field-individual-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 3px;
    background-color: rgb(67, 56, 202);
    height: calc(100% - 12px);
    z-index: 1;
}
.sub-menu .last-sub-menu .field-individual-container::before {
    content: none;
}
/* .sub-menu .field-individual-container::before {
    content: none;
} */
.sub-menu .field-individual-container p {
    position: relative;
    padding-left: 8px;
    cursor: pointer;
    width: fit-content;
}
.sub-menu .field-individual-container p::before {
    content: '';
    height: 3px;
    width: 24px;
    position: absolute;
    left: -24px;
    top: 1px;
    bottom: 0;
    margin: auto;
    border-radius: unset;
    background-color: rgb(67, 56, 202);
}