.header{
    height: 80px;
    width: 100%;
    background-image: url('/public/icons/bg.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.az-logo{
    width: 160px;
    height: 35px;
    margin-left: 30px;
}
.header-panel{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
.header-buttons{
    height: 35px;
    width: 35px;
}
.header-buttons:hover{
    color: red;
}

.header-buttons .p-button-icon{
    font-size: 20px;
    color: white;
    /* font-weight: 200; */
}
.user-text{
    color: white;
    font-size: 16px;
    display: inline;
    line-height: 16px;
}

.searchBar{
    width: 350px !important;
    border-radius: 18px !important;
    padding: 12px;
    /* text-align: left; */
}

.pi-search{
    /* margin-left: 323px; */
    cursor: pointer;
}

#popup_menu_globe{
    max-height: 300px;
    overflow: auto;
    max-width: 180px;
    top: 64px;
}

.Notification_card{
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.notification_date{
    width: 100%;
    height: 30px;
    background-color: rgb(182, 194, 206);
    margin-top: 8px;  
    font-weight: bold;  
    font-size: 12px;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}


#popup_menu_notification{
    width: 340px !important;
    height: 450px;
    left: 1115px !important;
    overflow-y: auto;
  }

.notification_count{
    background-color: rgb(156, 3, 3);
    height:15px;
    width: 20px;
    font-size: 10px;
    color: whitesmoke;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 7px;
    font-weight: bold;
}

.notification_container{
    display: flex;
    position: relative;
    padding: 2px 5px;
}