.header{
    height: 80px;
    width: 100%;
    background-image: url('/public/icons/bg.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.az-logo{
    width: 160px;
    height: 35px;
    margin-left: 30px;
}
.header-panel{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
.header-buttons{
    height: 35px;
    width: 35px;
}
.header-buttons:hover{
    color: red;
}

.header-buttons .p-button-icon{
    font-size: 20px;
    color: white;
    /* font-weight: 200; */
}
.user-text{
    color: white;
    font-size: 16px;
    display: inline;
    line-height: 16px;
}

.searchBar{
    width: 350px !important;
    border-radius: 18px !important;
    padding: 12px;
    /* text-align: left; */
}

.pi-search{
    /* margin-left: 323px; */
    cursor: pointer;
}

#popup_menu_globe{
    max-height: 300px;
    overflow: auto;
    max-width: 180px;
    top: 64px;
}