input,
input:hover,
input:active,
input:focus,
 
button,
button:hover,
button:active,
button:focus{
    box-shadow: none !important;
    outline: none !important;
}
 
.p-inputtext, .p-inputnumber .p-inputtext {
    height: 36px;
    width: 100%;
    border: 1.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 4px 8px;
}
.p-inputnumber {
    width: 100%;
}
.p-datatable .p-inputtext.p-inputtextarea {
    height: 36px;
}
.p-inputtext.p-inputtextarea {
    height: 100px;
}

.p-inputtext:enabled:hover,
.p-inputtext:enabled:active,
.p-inputtext:enabled:focus,
.p-inputnumber:enabled:hover
.p-inputnumber:enabled:active
.p-inputnumber:enabled:focus  {
    border-color: rgba(0, 60, 149, 0.5);
    outline: none;
    box-shadow: none;
}

.p-inputtext.p-disabled, .p-inputnumber .p-inputtext.p-disabled {
    background-color: #dadada;
    color: #000;
    opacity: 0.75;
    pointer-events: all;
    cursor: not-allowed !important;
}
 
.top-label label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
}
