.user-authorisation-setup {
    padding: 20px;
    height: 600px;
    display: flex;
  }

.attribute_Listing{
  width: 100%;
  height: 450px;
  overflow: auto;

}

.attributesHeader{
  width: 50%;
  padding: 10px;
  border-radius: 12px;
  margin-left: 10px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12);
}

.attributesBox{
  width: 50%;
}
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .flex-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  
  .align-items-center {
    align-items: center;
    gap: 10px;
  }

  .radio_button_heading{
    color: gray;
  }

  .attributes-tab-containers{
    padding: 10px;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12);
  }
  
  .top_row{
    display: flex;
  }

  .bottom_row{
    display: flex;
    margin-left: 12px;
    align-items: center;
  }

  .radio-group{
    margin-top: 8px;
    display: flex;
    align-items: center;

  }