.p-inputgroup {
    display: block;
}
.p-inputgroup div {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    overflow: hidden;
}
.p-inputgroup label {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}
.p-inputgroup label span {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.p-inputgroup .p-inputgroup-addon {
    padding: 8px;
    width: fit-content;
    min-width: fit-content;
    color: rgba(0, 60, 149, 1);
    background-color: rgba(191, 217, 255, 0.5);
    border: none;
    cursor: pointer;
}
.p-inputgroup .p-inputgroup-addon:hover {
    background-color: rgba(0, 60, 149, 0.12);
}
.p-inputgroup .p-inputtext {
    border: none;
    border-radius: 0;
}
