.p-checkbox .p-checkbox-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100% !important;
  height: 100% !important;
}

.p-checkbox-box[data-p-highlight="true"] {
  background-color: #003b95;
}

.p-checkbox {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-container label.left-label {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.60);
}
.label {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: rgba(0, 0, 0, 1);
}
.checkbox-container label.right-label {
  margin-left: 8px;
}
