.sidebar {
    height: calc(100vh - 80px); 
    width: 250px;
    padding: 4px;
    overflow: auto;
    position: sticky;
    left: 0;
    top: 80px;
    z-index: 10;    
    width: 30px;
    border: 1px solid;
    background-color: 
    rgba(191, 217, 255, 0.5);
    transition: all 0.1s linear;
    overflow: hidden;
}
.sidebar ul {
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s linear;
}
.sidebar:hover {
    width: 280px;
    overflow: auto;
    transition: all 0.1s linear;
}
.sidebar:hover ul {
    opacity: 1;
    pointer-events: all;
    transition: all 0.1s linear;
}

.submenu, .nav-link {
    display: block;
    padding: 8px 12px;
    width: 100%;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
}
.submenu:hover, .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.12);
}
.nav-link.active {
    color: rgb(255, 255, 255);
    background-color: #003B95;
}
.submenu-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-sidebar-header{
    display: none;
}

.inner-ul {
    padding-left: 20px;
}

