*{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.main{
  display: flex;
}
.content{
  width: calc(100% - 250px);
  flex: 1;
  padding: 24px;
  /* overflow: auto; */
}


.p-checkbox{
  border: 1px solid lightgray;
  border-radius: 5px;
}
.p-checkbox-box{
  height: 21px;
  border-radius: 4px;
}
td .w-3 input{
  width: 3rem;
  text-align: center;
}

/* Tab View */
.tab-content-section {
  padding: 14px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  /* max-height: 500px; */
}

/* ScrollBar styles here */
.p-tabview .p-tabview-nav::-webkit-scrollbar {
  display: none;
}

/* tab view styles here */
.p-tabview .p-tabview-nav {
  width: 85%;
  overflow: auto;
  border: none !important;
}
.p-tabview .p-tabview-nav-container .p-tabview-nav-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.p-tabview .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav li + li {
  padding-left: 4px;
}
.p-tabview .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav li a {
  padding: 10px 12px;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: rgba(191, 217, 255, 0.5);
}
.p-tabview .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav li a:hover {
  background-color: rgba(191, 217, 255, 1) !important;
  color: rgba(0, 0, 0, 1) !important;
}
.p-tabview .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav li.p-tabview-selected.p-highlight a {
  background-color: rgba(0, 60, 149, 0.85) !important;
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: none;
}
.p-tabview .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav li.p-tabview-ink-bar {
  display: none;
}

.p-tabview.p-component .p-tabview-panels {
  padding: 1rem;
  /* max-height: 400px; */
  /* overflow: auto; */
}


/* Dropdown styles here */
.p-dropdown {
  min-width: 75px;
  width: 100%;
  height: fit-content !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}
.p-dropdown .p-inputtext {
  border: none;
  border-radius: 0;
}
.p-dropdown,
.p-dropdown:not(.p-disabled):hover,
.p-dropdown:not(.p-disabled):active,
.p-dropdown:not(.p-disabled):focus {
  outline: none !important;
  box-shadow: none !important;
}
.p-dropdown:not(.p-disabled):hover,
.p-dropdown:not(.p-disabled):active,
.p-dropdown:not(.p-disabled):focus {
  border-color: rgba(0, 60, 149, 0.5);
}

.p-dropdown-items-wrapper .p-dropdown-item .p-highlight {
  color: rgb(0, 60, 149);
}

.p-toolbar{
  padding: 0px !important;
}

/* Dropdown container styles here */
.dropdown-container label{
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: rgba(0, 0, 0, 0.60);
}

/* card styles her */
.p-component.p-card {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12);
}
.p-card .p-card-content {
  padding: 0 !important;
}

/* Card Header Text styles here */
.card-header-text {
  /* font-size: 24px; */
  font-weight: 600;
  /* color: rgb(0, 60, 149); */
  margin-bottom: 12px;
}

/* Search input styles here */
.search-input {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  padding-right: 12px;
}
.search-input input {
  margin-right: 8px;
}
.search-input input,
.search-input .p-inputtext:enabled:hover,
.search-input .p-inputtext:enabled:active,
.search-input .p-inputtext:enabled:focus {
  padding: 4px 0 4px 12px;
  border-radius: 0 !important;
  outline: none;
  box-shadow: none;
}

/* Button styles here */

/* Button common styles */
.p-component.p-button {
  padding: 0 12px;
  font-size: 16px;
  padding: 4px 16px;
  height: 40px;
  text-transform: capitalize;
}
.small-btn .p-component.p-button {
  height: 32px;
}
.small-btn .p-button.p-button-icon-only.p-button-rounded {
  height: 32px;
  width: 32px;
}
.p-button + .p-button {
  margin-left: 10px !important;
}

/** ---> Disabled button <--- **/
.p-button.p-component.p-disabled,
.p-button.p-component.p-disabled:hover,
.p-button.p-component.p-disabled:active,
.p-button.p-component.p-disabled:focus {
  background-color: rgb(211 211 211) !important;
  border: none;
  color: rgb(66, 64, 64) !important;
  cursor: not-allowed !important;
  pointer-events: all;
}
.p-button.p-component.p-disabled:hover {
  box-shadow: 0 0 4px 1px rgba(52, 52, 52, 0.5);
}

/** ---> Fill button <--- **/
.p-button.p-component {
  background-color: rgba(0, 59, 149, 0.9);
}
button.p-button.p-component:hover {
  background-color: rgb(0, 59, 149);
}

/** ---> Outlined button <--- **/
.p-button.p-component.p-button-outlined {
  border-color: rgba(0, 59, 149, 1);
}
button.p-button.p-component.p-button-outlined:hover {
  background-color: rgba(0, 59, 149, 0.12);
}

/* checkbox styles here */

.p-checkbox .p-checkbox-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.p-checkbox .p-checkbox-box[data-p-highlight="true"]{
  background-color: #003B95;
}

.p-checkbox .p-checkbox-box{
    width: 20px;
    height: 20px;
}
.checkbox-container label.left-label {
  margin-right: 8px;
} 
.checkbox-container label.right-label {
  margin-left: 8px;
}

/* Pagination */
.p-component.p-paginator {
  display: flex;
  align-items: center;
}
.p-component.p-paginator .p-link.p-paginator-element {
  min-width: unset;
  width: 1.75rem;
  height: 1.75rem;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-component.p-paginator .p-link.p-paginator-element:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.p-component.p-paginator .p-dropdown {
  min-width: unset;
  max-width: 60px;
  height: 100%;
}
.p-component.p-paginator .p-dropdown
.p-component.p-paginator .p-dropdown:hover,
.p-component.p-paginator .p-dropdown:active,
.p-component.p-paginator .p-dropdown.input-wrapper-focus {
  outline: none;
  box-shadow: none;
}
.p-component.p-paginator .p-dropdown .p-dropdown-trigger {
  width: unset;
  height: unset;
  padding: 8px;
}
.p-component.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  border: 1px solid rgb(0, 59, 149);
}
 
/* stepper styles here */
.p-component.p-steps .p-menuitem-link {
  min-width: 80px;
}
.p-component.p-steps .p-steps-item:first-child {
  justify-content: flex-start;
}
.p-component.p-steps .p-steps-item:first-child:before {
  left: 30%;
  width: calc(100% - 30%);
}
.p-component.p-steps .p-steps-item:last-child {
  justify-content: flex-end;
}
.p-component.p-steps .p-steps-item:last-child:before {
  left: unset;
  right: 30%;
  width: calc(100% - 30%);
}
.p-component.p-steps .p-steps-item.p-highlight.p-steps-current .p-steps-number {
  background: #4338CA;
  color: #EEF2FF;
}
.p-component.p-steps .p-menuitem-link:hover .p-steps-number {
  background: #EEF2FF;
  color: #4338CA;
}

span.p-steps-number.completed{
  background: green !important;
  color: #EEF2FF !important;
  border: none !important;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number{
  border: 1px solid #4338CA !important;
}

.p-steps-item.completed::before{
  border-top:1px solid #003B95 !important;
}

/* Card styling */

.bodyContainer{
  margin-top: 15px;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12);
}

.sibeBarButton{
  width: 30px; 
  height: 30px; 
  background-color: #3498db !important;
  border-radius: 0px !important;
}

.p-button-outlined{
  color: #003B95 !important;
}

.p-datatable{
  width: 100%;
}

.disabled-row {
  background-color: gray;
  color: blue;
}


/* Overlay customization */
.p-overlaypanel {
  /* border: 1px solid rgba(127, 126, 126, 0.6) !important; */
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.12) !important;
}

.p-checkbox-disabled{
  background-color: rgb(192, 189, 189) ;
  border: none !important;
}

.p-checkbox-checked.p-checkbox-disabled{
  /* background-color: rgb(122, 120, 120) !important; */
}

.cover_card{
  margin-top: 8px;
  width: 30%;
  height: 580px !important;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12)
}

.p-inputtext{
  text-overflow: ellipsis;
}

.p-input-icon-right > i:last-of-type {
  top: 0;
  margin-top: 0;
  bottom: 0;
  margin: auto;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.p-datatable .p-datatable-header{
  padding: 0px;
}

.blink-soft {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
